body{
    background-image: url("../Imagens/Home_page-0001.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#OpcaoFuncionario{

    margin-left: 47%;
    display: flex;
    margin-top: -67%;

}

#OpcaoPaciente{

    margin-left: 39%;
    margin-top: -2.65%;

}

#OpcaoHome{
    margin-left: 56.5%;
    margin-top: -2.60%;

}

#iconeInput{

    visibility:hidden;
}

#iconePessoa{

    width: 20%;
    height: 20%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 12%;
    margin-left: 13%;

}

form{
    width: 65%;
    height: 850px;
    background-color: white;
    border-radius: 47px;
    margin-left: 18%;
    margin-top: -3%;
}

h2{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-left: 5%;

}

.imagemAPAE{
    width: 12%;
    height: 20%;
    margin-left: 45%;
    margin-top: 5%;
}

#iconeVoltar{

    width: 4%;
    margin-left: 5%;
    margin-top: -4%;
    display: flex;

}

#iconeSair{

    width: 4%;
    margin-left: 90%;
    margin-top: 6%;
    display: flex;

}

#composicao{
   
    margin-left: 12%;
    width: 30%;
    height: 45px;
    margin-top: -1%;
    border-radius: 37px;
    border: 1px solid rgb(65, 61, 61);
    padding: 7px 7px;
}

#componente{
   
    margin-left: 12%;
    width: 30%;
    height: 45px;
    margin-top: -1%;
    border-radius: 37px;
    border: 1px solid rgb(65, 61, 61);
    padding: 7px 7px;
}

#opcao{
    margin-left: 12.5%;
    margin-top: 3%;
    display: flex;
}

#opcao1{
   
    margin-left: 12%;
    margin-top: 2%;
    display: flex;
}

#opcao2{
   
    margin-left: 20%;
    margin-top: -3.75%;
    display: flex;
}

#opcao3{
   
    margin-left: 58%;
    margin-top: -30%;
    display: flex;
}

#opcao4{

    margin-left: 58%;
 
}

#opcao5{

    margin-left: 73%;
    margin-top: -4%;
    display: flex;
}

#opcao6{
   
    margin-left: 58%;
    margin-top: 2%;
    display: flex;
}

#opcao7{

    margin-left: 58%;
    margin-top: -29%;
}

#opcao8{

    margin-left: 73%;
    margin-top: -4%;
    display: flex;
}

.opcaoS22{
    margin-left: 62%;
    margin-top: -2%;
    display: flex;

}

.opcaoN22{
    margin-left: 76%;
    margin-top: -2%;
    display: flex;

}

.opcaoS2{

    margin-left: 62%;
    margin-top: -3%;


}

.opcaoN2{

    margin-left: 76%;
    margin-top: -3%;

}

.opcaoS{

    margin-left: 15%;
    margin-top: -1.75%;
    display: flex;
}

.opcaoN{

    margin-left: 23%;
    margin-top: -2%;
   
}

.telefone{
    margin-left: 12%;
    margin-top: 5%;
    display: flex;
    
}

#Telefone{
    margin-left: 12%;
    width: 30%;
    height: 45px;
    margin-top: -1%;
    border-radius: 37px;
    border: 1px solid rgb(65, 61, 61);
    padding: 7px 7px;
    display: flex;
}


.cid{

    margin-left: 58%;
    margin-top: -10%;
    display: flex;
}

#trabalham{
    margin-left: 57%;
    width: 30%;
    height: 45px;
    margin-top: -1%;
    border-radius: 37px;
    border: 1px solid rgb(65, 61, 61);
    padding: 7px 7px;
    display: flex;
    
}
.usuario{
    margin-left: 12%;
    margin-top: 3%;
    
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#proximaPagina{
    background: #5D90DD;
    border-radius: 37px;
    width: 20%;
    height: 50px;
    margin-left: 42%;
    border-color: #5D90DD;
    color: white;
    font-weight: bold;
    margin-top: -3%;
    display: block;
    border: 1px solid #5D90;
    padding: 10px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
